.tile{
    display: flex;
    max-width: 800px;
    margin: 1em auto;
    background: linear-gradient(135deg, #9dd53a 0%,#a1d54f 77%,#80c217 95%,#7cbc0a 100%);
    border: 0.5em solid rgba(0,100,0,0.5);
    border-radius: 1em;
}

.tile figure{
    flex: 1;
}

.tile figure img{
    width:100%;
}

.tile section{
    flex: 3;
    text-align: left;
}